<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
</head>
<body>
<h1>DH Heroes</h1>

<h3>Heroínas y Héroes Tecnológicos más representativos del ámbito de la programación</h3>


<div> <p><a href="/babbage.html" target="_blank">
    Babbage 
  </a>
</p>
<p><a href="/berners-lee.html" target="_blank">
    Berners Lee
  </a>
</p>
<p><a href="/clarke.html" target="_blank">
    Clarke
  </a>
</p>
<p><a href="/hamilton.html" target="_blank">
    Hamilton
  </a>
</p>
<p><a href="/hopper.html" target="_blank">
    Hopper
  </a>
</p>
<p><a href="/lovelace.html" target="_blank">
    Lovelace
  </a>
</p>
<p><a href="/turing.html" target="_blank">
    Turing
  </a>
</p></div>

</body>
</html>